StoreServiceWpfClient/Connected Services/StoreServiceHost/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StorageLogicLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StorageLogicLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/StoreServiceLibrary/StoreService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StoreLogicLibrary" />
  <xs:complexType name="ArrayOfStoreProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoreProduct" nillable="true" type="tns:StoreProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoreProduct" nillable="true" type="tns:ArrayOfStoreProduct" />
  <xs:complexType name="StoreProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/StoreLogicLibrary" base="q1:Product2">
        <xs:sequence>
          <xs:element minOccurs="0" name="Stock" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StoreProduct" nillable="true" type="tns:StoreProduct" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>